* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  cursor: none;
}

body {
  position: relative;
  background-color: #212121;
  color: #fff;
  overflow: hidden;
}

#container-cursor {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(218, 237, 250);
  transition: 0.5 cubic-bezier(0.075, 0.82, 0.165, 1);
}

#container-cursor_outer {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(80, 80, 80, 0.829);
  border-radius: 50%;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
