:root {
  --top_left: 25px;
  --grid-column: repeat(12, 1fr);
}

.nav {
  height: 120px;
  display: grid;
  grid-template-columns: var(--grid-column);
  font-size: 26px;
}

.nav > a {
  text-decoration: none;
  margin: auto;
}
.nav > .nav-link_ukraine {
  color: #f1ff2d;
  grid-column: 6;
}
