:root {
  --top_left: 25px;
}

.info-navigation {
  position: fixed;
  width: 219px;
  height: 49px;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-navigation span {
  font-size: 29px;
}

.info-navigation > .navigation-key {
  height: 100%;
  width: 50px;
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
}
